<app-navbar></app-navbar>
<article class="container my-3">
  <div class="row py-3">
    <div class="col-sm-6  my-3">
      <mat-card>
        <mat-card-title>Buscar Paciente</mat-card-title>
        <mat-card-content>
          <div class="w-50">
            <form [formGroup]="formularioBusca" (ngSubmit)="buscarDadosPacientePadrao()">
              <mat-form-field appearance="fill">
                <mat-label>Digite o Numero do CPF.</mat-label>
                <input matInput formControlName="numeroDoCpf" [mask]="getCpfCnpjMask()">
              </mat-form-field>
              <div class="row">
                <div class="col-sm-4">
                  <p>
                    <button type="submit" mat-raised-button color="primary" [disabled]="!formularioBusca.valid">Buscar</button>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p>
                    <a  class="text-decoration-none" mat-raised-button color="warn" [routerLink]="['/aplicacao-vacina/aplicacao']" (click)="limpaCampos()">Limpar</a>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-6  my-3">
      <mat-card>
        <mat-card-title>Aplicação de vacina</mat-card-title>
        <mat-card-content>
          <form [formGroup]="formulario" (ngSubmit)="vacinarPaciente()">
            <mat-form-field appearance="fill">
              <mat-label>Nome da Vacina palicada</mat-label>
              <input matInput formControlName="nomeDaVacina">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Data da aplicação</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dataDaAplicacao">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <p>
              <button type="submit" mat-raised-button color="primary" [disabled]="!formulario.valid">Vacinar</button>
            </p>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-sm-12 my-3" *ngIf="paciente != undefined">
      <mat-card>
        <mat-card-content>
          <mat-card-title>Dados do Paciente</mat-card-title>
          <mat-card-content class="my-2">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nome:</th>
                    <th>CPF:</th>
                    <th>Email:</th>
                    <th>Data de Nasc:</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{paciente.nome}}</td>
                    <td>{{paciente.numeroDoCpf}}</td>
                    <td>{{paciente.email}}</td>
                    <td>{{paciente.dataDeNascimentoFormatada}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-12  my-3">
      <mat-card *ngIf="pacienteVacinas.length > 0">
        <mat-card-title>Aplicações</mat-card-title>
        <mat-card-content class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Nome da Vacina</th>
                <th>Data da Aplicação</th>
                <th>Excluir</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let vacina of pacienteVacinas">
                <tr>
                  <td>{{vacina.getNomeDaVacina()}}</td>
                  <td>{{vacina.getDataDaAplicacaoFormatada(vacina.getDataDaAplicacao())}}</td>
                  <td> <button mat-icon-button color="warn" matTooltip="excluir" matTooltipPosition="above" (click)="excluir(vacina.getId())">
                      <mat-icon>delete</mat-icon>
                    </button></td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</article>
