<app-navbar></app-navbar>
<section class="container" *ngIf="paciente != undefined">
  <article class="my-3 py-3">
    <mat-card>
      <mat-card-title>
        Dados do Paciente
      </mat-card-title>
      <mat-card-content>
        <div class="container p-3 ">
          <form [formGroup]="formulario" (ngSubmit)="atualizarDadosPaciente()">
            <mat-form-field appearance="fill" class="mx-2">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="nome">
            </mat-form-field>
            <mat-form-field appearance="fill" class="mx-2">
              <mat-label>email</mat-label>
              <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="fill" class="mx-2">
              <mat-label>Cpf</mat-label>
              <input matInput formControlName="numeroDoCpf" type="text" [mask]="getCpfCnpjMask()">
            </mat-form-field>
            <mat-form-field appearance="fill" class="mx-2">
              <mat-label>Data de nascimento</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dataDeNascimento">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <p>
              <button type="submit" mat-raised-button color="primary" [disabled]="!formulario.valid">Gravar</button>
            </p>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </article>
</section>
