<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="settingsMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Programa Vacina Sim</span>
  <span class="example-spacer"></span>
  <mat-menu #settingsMenu>
    <div mat-menu-item>
      <button mat-button [routerLink]="['/']">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
    </div>
    <div mat-menu-item>
      <button mat-button [routerLink]="['novo']">
        <mat-icon>account_circle</mat-icon>
        <span>Nova Paciente</span>
      </button>
    </div>
    <div mat-menu-item>
      <button mat-button [routerLink]="['aplicacao-vacina']">
        <mat-icon>local_pharmacy</mat-icon>
        <span>Nova Aplicação</span>
      </button>
    </div>
  </mat-menu>
</mat-toolbar>
