<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="settingsMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Sistema de Aplicação de Vacinas</span>
  <span class="example-spacer"></span>
  <mat-menu #settingsMenu>
    <a mat-menu-item [routerLink]="['/']">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </a>
    <a mat-menu-item [routerLink]="['novo']">
      <mat-icon>account_circle</mat-icon>
      <span>Nova Paciente</span>
    </a>
    <a mat-menu-item>
      <mat-icon>local_pharmacy</mat-icon>
      <span>Nova Aplicação</span>
    </a>
  </mat-menu>
</mat-toolbar>
